*{
    padding: 0px;
    margin: 0px;
}
#box{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
.turn{
    width: 50px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 150px;
    text-align: center;
    font-size: 40px;
    position:absolute;
    display: none;
}
#left{
    left: 0px;
    top: 80px;
}
#right{
    right: 0px;
    top: 80px;
}
#list{
    margin-left: auto;
    position: absolute;
    left:170px;
    list-style: none;
    bottom: 2px;
}
li{
    float: left;
    width: 20px;
    background-color: #aaa;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
}